# Folder view configuration files
.DS_Store
Desktop.ini
Icon?

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
__pycache__/
*.py[cod]
venv/

# Application specific files
node_modules

# direnv
.envrc
.direnvrc
.direnv

# Editor backup files
*~
*.swp

# dev databases
*.sqlite*

# secrets/ directory for credential storage
# .env stores Django specific secrets and configs
# do not commit these to public git repos
secrets/
.env

# production logs
log
